<h1><%= @contact.full_name %></h1>

<p>Name: <%= @contact.full_name%></p>
<p>Email: <%= @contact.email %></p>

<p>Last Update: <%= @contact.friendly_update %></p>

<p><%= link_to "Return to Main Page", "/contacts" %></p>
<p><%= link_to "Edit Contact", "/contacts/#{@contact.id}/edit"%></p>
<p><%= link_to "Delete Contact", "/contacts/#{@contact.id}", method: :delete %></p>
